/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(1, 80px);
  max-width: 1052px;
  height: 105px;
  top: 92px;
  left: 24px;
  gap: 0px;
  opacity: 0px;

  margin: 0;

  justify-content: space-between;
}

.header__menu {
  width: 391.48px;
  height: 22px;
  top: 44px;
  left: 26.52px;
  gap: 0px;
  opacity: 0px;
  background: #000000;
  border: 1px solid #000000;
}

.header__links-list-item {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 391.48px;
  height: 22px;
  top: 44px;
  left: 26.52px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.header__links-list-item_no-bullit {
  width: 67px;
  height: 21px;
  top: 44px;
  left: 26.52px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
}
.header__links-list-item {
}

.address {
  display: flex;
  flex-direction: column;
  width: 240.52px;
  height: 98px;
  top: 5px;
  left: 786px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
}

.cover {
  width: 1100px;
  height: 757px;
  gap: 0px;
}

.overlay {
  opacity: 0.6px;
  z-index: 2;
}

.cover__title {
  width: 1000px;
  height: 355px;
  top: 165px;
  left: 50px;
  gap: 0px;
  opacity: 0px;
  background: #ffffff;
  z-index: 0;
}

.aligned-text {
  /*оно*/
  width: 316px;
  height: 115px;
  top: 165px;
  left: 50px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;
}

.aligned-text_center {
  /*tebe*/
  width: 369px;
  height: 100px;
  top: 300px;
  left: 336px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-align: left;
}

.aligned-text_right {
  /*nado*/
  width: 417px;
  height: 100px;
  top: 420px;
  left: 633px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.6em;
  text-align: right;
}
.letter-spacing-extended {
  /*span de ono y tebe*/

  letter-spacing: 0.6em;
  text-align: left;
}

.no-letter-spacing {
  /*span de nado*/
  letter-spacing: 0.6em;
  text-align: right;
}

.cover__description {
  /*contenedor*/
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  justify-content: space-between;
}

.cover__description-text {
  /*parrafo*/
  width: 637px;
  height: 28px;
  top: 667px;
  left: 78px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.bet-button {
  /*boton*/
  width: 256px;
  height: 51px;
  top: 655px;
  left: 794px;
  gap: 0px;
  opacity: 0px;
  border: 1px solid #ffffff;
}

.lots {
  display: flex;
  align-items: flex-start; /*para las tarjetas*/
  width: 1052px;
  height: 692px;
  top: 1229px;
  left: 24px;
  gap: 0px;
  opacity: 0px;
}

.lots__heading {
  width: 121px;
  height: 47px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
}

.card-list {
  display: flex;
  justify-content: space-between; /*el espacio de las 3 tarjetas*/
  width: 1052px;
  height: 692px;
  top: 1229px;
  left: 24px;
  gap: 0px;
  opacity: 0px;
}

.card {
  /*cada tarjeta*/
  width: 334px;
  height: 563px;
  top: 74px;
  gap: 0px;
  opacity: 0px;
  flex-grow: 1;
}

.card-content{
  background-image: url("./images/card-lot-01.jpg"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
.card_type_film{
  /* Estilo de la tarjeta 1 con imagen de fondo */

  background-image: url("./images/card-lot-01.jpg"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 334px;
  height: 563px;
  top: 74px;
  gap: 0px;
}
.lots__card-list-item{
    background-image: url(".images\card-lot-01.jpg"); 
}
.card_type_book {                      /*2da imagen */
    background-image: url("./images/card-lot-02.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
     
}
.card_type_picture {                             /* 3ra imagen */
    background-image: url("./images/card-lot-03.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  
}
.card__title {                        /*titulo cada tarjeta*/

  width: 254px;
  height: 82px;
  top: 125px;
  /*left: 40px;*/
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
}
.card__text {
  /*TEXTO de cada tarjeta*/
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.about {
  display: grid;
  grid-template-columns:auto auto;
  grid-template-rows: auto auto auto;
  border: 10px dashed black;
   
}

.about__column{
  grid-row: 1/ span 3;
  border: 5px solid rgb(231, 17, 17);
}

.about__logo{
  width: 240px;
  height: 240px;
  border-radius: 50%; / Hace que el contenedor sea redondo /
  background-color: black; / Color negro de fondo /
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image{
  max-width: 80%; / Ajusta el tamaño de la imagen /
}
.footer {
}

.footer__social-list{
  display: flex;
  justify-content: space-around;
  align-items: right;
  width: 240px;
height:48px;
top: 2843px;
left: 810px;
gap: 48px;
opacity: 0px;




}

.footer__social-icon{
width: 48px;
height: 48px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}

/* Estilo de la tarjeta */
